.postContainer {
	margin: 0 auto;
	height: 300px;
	width: 400px;
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 5px;
	border-radius: 5px;
}

.postUserContainer {
	display: flex;
}

.postProfileIcon {
	height: 24px;
	width: 24px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}

.postProfileInfoContainer {
	display: flex;
	flex-direction: column;
	margin-left: 2px;
	padding: 1px;
}

.postProfileDate {
	font-size: 8px;
}

.pendingIcon {
	margin-left: auto;
	color: grey;
}

.postContentContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 2px;
}

.postDescription {
	font-size: 12px;
}

.postImg {
	height: 150px;
	width: 100%;
	border-radius: 5px;
}

.postActionConatiner {
	display: flex;
	padding: 2px;
}

.postActionIconLike {
    height: 6px;
	width: 6px;
	margin-right: 2px;
	color: rgb(78, 130, 241);
}

.postActionIconHeart {
	height: 6px;
	width: 6px;
	color: red;
	margin-right: 2px;
}

.postActionCount {
    font-size: 8px;
    text-align: center;
	margin-right: 2px;
}

.postActionItemsContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px;
}

.postActionItem {
	color: grey;
	height: 20px;
	width: 20px;
}

.actionContainer{
    cursor: pointer;
    padding: 1px;
    align-items: center;
}

.postActionItemIcons {
    font-size: 10px;
    text-align: center;
    margin-right: 5px;
    display: inline;
}

.postCommentConatiner {
	display: flex;
	align-items: center;
	padding: 2px;
}

.commentImgIcon {
	align-self: center;
	height: 20px;
	width: 20px;
	border-radius: 50%;
}

.commentInput {
	align-self: center;
	margin-left: 8px;
	height: 18px;
	width: 250px;
	border-color: transparent;
	background-color: rgb(158, 154, 154);
	border-radius: 10px;
}
