.table {
	width: 90%;
	border-collapse: separate;
	border-spacing: 1.5rem;
	margin: 0 auto;
}

.label {
	color: lightgrey;
	font-size: small;
}

.input {
	width: 12rem;
	height: 2rem;
	display: block;
}

.postal {
    width: 4rem;
    height: 2rem;
    display: inline;
    margin-right: 0.2rem;
}


