.topBarContainer {
	height: 40px;
	width: 100%;
	background-color: white;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
}

.topBarLeft {
	flex: 2;
}

.logo {
	height: 30px;
    width: 30px;
	margin-left: 20px;
}

.topBarRight {
	display: flex;
	align-items: center;
}

.topBarIcons {
	display: flex;
    align-items: center;
}

.topBarProfile {
	display: flex;
    align-items: center;
    margin-right: 16px;
}

.topBarIconItem {
	margin-right: 15px;
	cursor: pointer;
	position: relative;
    font-size: 5px !important;
}

.topBarIconBadge {
	width: 15px;
	height: 15px;
	background-color: red;
	border-radius: 50%;
	color: white;
	position: absolute;
	top: -5px;
	right: -5px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
}

.topBarImg {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
    margin-right: 5px;
}

.topBarName {
    font-size: 14px;
}