.profileContainer {
	display: flex;
	flex-direction: column;
	width: 600px;
	height: 250px;
	gap: 6px;
	background-color: rgb(126, 188, 243);
	margin: 0 auto;
	border-radius: 8px;
}

.coverImg {
	width: 600px;
	height: 70px;
	border-radius: 8px 8px 0px 0px;
}

.imgContainer {
	height: 100px;
}

.profileImg {
	height: 60px;
	width: 50px;
	border-radius: 10px;
}

.profileInfoContainer {
	display: flex;
	flex-direction: column;
	gap: 2px;
	padding: 10px;
}

.profileName {
	font-size: large;
	font-weight: bold;
	color: white;
}

.profileDesignantion {
	font-size: 12px;
	color: white;
}

.profileAddressContainer {
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 10px;
	color: white;
}

.buttonContainer {
	display: flex;
	align-items: center;
	gap: 5px;
}

.addFriend {
	height: 35px;
	width: 160px;
}

.visitWebsite {
	height: 35px;
	width: 160px;
}

.websiteText {
	font-size: small;
}
